@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Vsky.WorkflowEngine.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Vsky.WorkflowEngine.Web.Pages.WorkflowEngineSettingsManages
@using Vsky.WorkflowEngine.WorkflowEngineSettingsManages;
@using System.Globalization
@inject IHtmlLocalizer<WorkflowEngineResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/WorkflowEngineSettingsManages/CreateModal" autocomplete="off">
    <abp-modal id="WorkflowEngineSettingsManageCreateModal">
        <abp-modal-header title="@L["NewWorkflowEngineSettingsManage"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="WorkflowEngineSettingsManage.ProjectName"  />

            <abp-input asp-for="WorkflowEngineSettingsManage.Description"  />

            <abp-input asp-for="WorkflowEngineSettingsManage.HistorySaveDays"  />

            <abp-input asp-for="WorkflowEngineSettingsManage.DBInfoDescription" text-area />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>